<a href="https://colab.research.google.com/github/ehyun9809/ml/blob/main/review_10_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_04

In [73]:
import numpy as np
import pandas as pd

weather = pd.read_csv('data/weather_by_station.csv', index_col='date', parse_dates=True)
weather.head()

           datatype            station  value                    station_name
date
2018-01-01     PRCP  GHCND:US1CTFR0039   0.00           STAMFORD 4.2 S, CT US
2018-01-01     PRCP  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0015   0.00  NORTH ARLINGTON 0.7 WNW, NJ US
2018-01-01     PRCP  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US
2018-01-01     SNOW  GHCND:US1NJBG0017   0.00        GLEN ROCK 0.7 SSE, NJ US

In [74]:
import numpy as np
import pandas as pd

fb = pd.read_csv('data/fb_2018.csv', index_col='date', parse_dates=True).assign(
    trading_volume=lambda x: pd.cut(x.volume, bins=3, labels=['low', 'med', 'high'])
)
fb.head()

             open   high    low  close    volume trading_volume
date
2018-01-02 177.68 181.58 177.55 181.42  18151903            low
2018-01-03 181.88 184.78 181.33 184.67  16886563            low
2018-01-04 184.90 186.21 184.10 184.33  13880896            low
2018-01-05 185.59 186.90 184.93 186.85  13574535            low
2018-01-08 187.20 188.90 186.33 188.28  17994726            low

# TASK1

In [75]:
weather.query('datatype == "PRCP"')\
    .groupby(level=0).mean()\
    .groupby(pd.Grouper(freq='Q')).sum().value.nlargest()

date
2018-09-30   546.52
2018-12-31   473.97
2018-03-31   364.89
2018-06-30   334.89
Name: value, dtype: float64

In [76]:
weather_query = weather\
    .query('datatype == "PRCP"')\
    .rename(dict(value='prcp'), axis=1)\
    .groupby(level=0).mean()\
    .assign(
        total_prcp_in_quarter=lambda x: \
            x.groupby(pd.Grouper(freq='Q')).transform(np.sum),
        pct_quarter_prcp=lambda x: \
            x.prcp.div(x.total_prcp_in_quarter)
    )\
    .nlargest(5, 'pct_quarter_prcp')

In [ ]:
weather_query

                 prcp  total_prcp_in_quarter  pct_quarter_prcp
date
2018-04-16  39.286585             334.979325          0.117281
2018-04-17  37.042308             334.979325          0.110581
2018-03-02  38.694118             364.840077          0.106058
2018-03-08  32.526087             364.840077          0.089152
2018-11-25  41.001220             474.536973          0.086403

In [ ]:
weather.query('datatype == "PRCP"')\
    .groupby(level=0).mean()\
    .groupby(pd.Grouper(freq='Q')).sum().value.nlargest()

date
2018-09-30    547.665911
2018-12-31    474.536973
2018-03-31    364.840077
2018-06-30    334.979325
Name: value, dtype: float64

# Crosstab (TASK2)

## practice

In [53]:
fb.pivot_table(columns='trading_volume')

trading_volume           low           med          high
close           1.714318e+02  1.751438e+02  1.681567e+02
high            1.734610e+02  1.794200e+02  1.704767e+02
low             1.693063e+02  1.721075e+02  1.615733e+02
open            1.713556e+02  1.758181e+02  1.677267e+02
volume          2.454721e+07  7.907256e+07  1.419240e+08

In [54]:
fb.pivot_table(index='trading_volume')

                     close        high         low        open        volume
trading_volume
low             171.431771  173.461040  169.306252  171.355565  2.454721e+07
med             175.143750  179.420000  172.107500  175.818125  7.907256e+07
high            168.156667  170.476667  161.573333  167.726667  1.419240e+08

In [63]:
weather.reset_index().pivot_table(
    index=['date', 'station', 'station_name'], 
    columns='datatype', 
    values='value',
    aggfunc='median'
).reset_index().tail()

datatype,date,station,station_name,AWND,DAPR,MDPR,PGTM,PRCP,SNOW,SNWD,...,WSF5,WT01,WT02,WT03,WT04,WT05,WT06,WT08,WT09,WT11
28740,2018-12-31,GHCND:USW00054787,"FARMINGDALE REPUBLIC AIRPORT, NY US",5.00,NaN,NaN,2052.00,28.70,NaN,NaN,...,15.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28741,2018-12-31,GHCND:USW00094728,"NY CITY CENTRAL PARK, NY US",NaN,NaN,NaN,NaN,25.90,0.00,0.00,...,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28742,2018-12-31,GHCND:USW00094741,"TETERBORO AIRPORT, NJ US",1.70,NaN,NaN,1954.00,29.20,NaN,NaN,...,8.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28743,2018-12-31,GHCND:USW00094745,"WESTCHESTER CO AIRPORT, NY US",2.70,NaN,NaN,2212.00,24.40,NaN,NaN,...,11.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28744,2018-12-31,GHCND:USW00094789,"JFK INTERNATIONAL AIRPORT, NY US",4.10,NaN,NaN,NaN,31.20,0.00,0.00,...,12.50,1.00,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'] # name the columns index
)

month           1   2   3   4   5   6   7   8   9   10  11  12
trading_volume
low             20  19  15  20  22  21  18  23  19  23  21  19
med              1   0   4   1   0   0   2   0   0   0   0   0
high             0   0   2   0   0   0   1   0   0   0   0   0

In [65]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'],
    normalize='columns'
)

month            1    2    3    4    5    6    7    8    9    10   11   12
trading_volume
low            0.95 1.00 0.71 0.95 1.00 1.00 0.86 1.00 1.00 1.00 1.00 1.00
med            0.05 0.00 0.19 0.05 0.00 0.00 0.10 0.00 0.00 0.00 0.00 0.00
high           0.00 0.00 0.10 0.00 0.00 0.00 0.05 0.00 0.00 0.00 0.00 0.00

In [66]:
pd.crosstab(
    index=fb.trading_volume,
    columns=fb.index.month,
    colnames=['month'],
    values=fb.close,
    aggfunc=np.mean
)

month,1,2,3,4,5,6,7,8,9,10,11,12
trading_volume,,,,,,,,,,,,
low,185.24,180.27,177.07,163.29,182.93,195.27,201.92,177.49,164.38,154.19,141.64,137.16
med,179.37,NaN,164.76,174.16,NaN,NaN,194.28,NaN,NaN,NaN,NaN,NaN
high,NaN,NaN,164.11,NaN,NaN,NaN,176.26,NaN,NaN,NaN,NaN,NaN

In [67]:
snow_data = weather.query('datatype == "SNOW"')
pd.crosstab(
    index=snow_data.station_name,
    columns=snow_data.index.month,
    colnames=['month'],
    values=snow_data.value,
    aggfunc=lambda x: (x > 0).sum(),
    margins=True, # show row and column subtotals
    margins_name='total observations of snow' # name the subtotals
)

month,1,2,3,4,5,6,7,8,9,10,11,12,total observations of snow
station_name,,,,,,,,,,,,,
"ALBERTSON 0.2 SSE, NY US",3.00,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,9
"AMITYVILLE 0.1 WSW, NY US",1.00,0.00,1.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3
"AMITYVILLE 0.6 NNE, NY US",3.00,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,8
"ARMONK 0.3 SE, NY US",6.00,4.00,6.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,3.00,23
"BLOOMINGDALE 0.7 SSE, NJ US",2.00,1.00,3.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"WESTFIELD 0.6 NE, NJ US",3.00,0.00,4.00,1.00,0.00,NaN,0.00,0.00,0.00,NaN,1.00,NaN,9
"WOODBRIDGE TWP 1.1 ESE, NJ US",4.00,1.00,3.00,2.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,11
"WOODBRIDGE TWP 1.1 NNE, NJ US",2.00,1.00,3.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,7
"WOODBRIDGE TWP 3.0 NNW, NJ US",NaN,0.00,0.00,NaN,NaN,0.00,NaN,NaN,NaN,0.00,0.00,NaN,0
total observations of snow,190.00,97.00,237.00,81.00,0.00,0.00,0.00,0.00,0.00,0.00,49.00,13.00,667