<a href="https://colab.research.google.com/github/ehyun9809/ml/blob/main/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = {"Name": ["유재은","안이현","송태원","허희진" ],"Hobby" : ["탁구","드라마","클라이밍","영화" ] , "Nationality" : ["한국","한국","한국","한국" ] }

In [ ]:
df =pd.DataFrame(df,index={"학생1","학생2","학생3","학생4"})

In [ ]:
df

    Name Hobby Nationality
학생4  유재은    탁구          한국
학생2  안이현   드라마          한국
학생1  송태원  클라이밍          한국
학생3  허희진    영화          한국

In [ ]:
df.to_csv('output.csv',index=True)

In [ ]:
pd.read_csv('output.csv')

  Unnamed: 0 Name Hobby Nationality
0        학생4  유재은    탁구          한국
1        학생2  안이현   드라마          한국
2        학생1  송태원  클라이밍          한국
3        학생3  허희진    영화          한국

In [ ]:
df["Favorite Number"] =[5,3,17,4]

In [ ]:
df

    Name Hobby Nationality  Favorite Number
학생4  유재은    탁구          한국                5
학생2  안이현   드라마          한국                3
학생1  송태원  클라이밍          한국               17
학생3  허희진    영화          한국                4

In [ ]:
df.count()

Name               4
Hobby              4
Nationality        4
Favorite Number    4
dtype: int64

In [ ]:
df.nunique()

Name               4
Hobby              4
Nationality        1
Favorite Number    4
dtype: int64

In [37]:
df["Favorite Number"].mean()

7.25

In [38]:
df["Favorite Number"].median()

4.5

In [39]:
df["Favorite Number"].min()

3

In [40]:
df["Favorite Number"].idxmin()

'학생2'

In [43]:
df["Favorite Number"].max()

17

In [44]:
df["Favorite Number"].abs()

학생4     5
학생2     3
학생1    17
학생3     4
Name: Favorite Number, dtype: int64

In [68]:
df["Favorite Number"].std()

6.551081335677848

In [69]:
df["Favorite Number"].var()

42.916666666666664

In [72]:
df["Favorite Number"].quantile()

4.5

In [73]:
df["Favorite Number"].cumsum()

학생4     5
학생2     8
학생1    25
학생3    29
Name: Favorite Number, dtype: int64

In [74]:
df["Favorite Number"].cummin()

학생4    5
학생2    3
학생1    3
학생3    3
Name: Favorite Number, dtype: int64

In [76]:
df["Favorite Number"].cummax()

학생4     5
학생2     5
학생1    17
학생3    17
Name: Favorite Number, dtype: int64